<div class="row">
  <div class="col sm-6">
    <div class="card">
      <div class="card-header text-white bg-dark"><i class="fa fa-users"></i> Customers control</div>
      <div class="card-body">
        <h3 class="card-title">Customers Control</h3>
        <p class="card-text">Used to control customers <br>
          like add customer, edit and delete.
        </p>
        <a routerLink="/customers" class="btn btn-primary">Go customers</a>
      </div>
    </div>
  </div>

  <div class="col sm-6">
    <div class="card">
      <div class="card-header text-white bg-dark"><i class="fa fa-cog"></i> Settings control</div>
      <div class="card-body">
        <h3 class="card-title">Settings Control</h3>
        <p class="card-text">Used to control settings <br>
          like disable or enable button that deletes users
        </p>
        <a routerLink="/settings" class="btn btn-primary">Go settings</a>
      </div>
    </div>
  </div>
</div>